.centralizado {
    text-align: center;
    background-color: black;
}
.grande {
    font-size: large;
    color: white;
    font-weight: bold;
}
.medio {
    font-size: medium;
    color: white;
    
}
.pequeno {
    font-size: small;
    color: white;
}
p.centralizado {
    text-align: center;
    color: turquoise;
}